
body{
  font-size: 11px;
  color:black;
  background-color: #61122f;

}
h3{
	color:white;   
  text-align: center;
  margin:0;
}
p {
    font-family: Helvetica;
  font-size:12;
  color: black;
  text-align: left;
}
#header-nav{
  background-color: blue;
  border-radius: 0;
  border:0;
}
#dropdown a{
color:white;
text-align: center;
border:1px solid white;
margin:0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border:1px solid black;
}
.navbar-header a.navbar-brand
{
  color:white;

}
.content{
    background-color: lightblue;
    border:10px solid white;
}

